## inisialisasi

In [ ]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=969f7f95e866f5429cc49010193986e42189e89c7a3e5ba795bb3d753cfb69d9
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

PySpark applications start with initializing SparkSession which is the entry point of PySpark as below. In case of running it in PySpark shell via pyspark executable, the shell automatically creates the session in the variable spark for users.

In [ ]:
##Starting a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## Create Dataframe

In [ ]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

# Create a PySpark DataFrame with an explicit schema.
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
#Create a PySpark DataFrame from a pandas DataFrame
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
#import Packages
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DateType
brand = [
    ("HP", "H46", 5, "00030"),
    ("Apple", "Pro", 5, "00345"),
    ("Dior", "Classy", 4, "00344"),
    ("Hisense", "HS56", 2, "00056"),
    ("Tesla", "S", 1, "00034")
]

# Define the schema
schema = StructType([
StructField("brand", StringType(), nullable=False),
StructField("model", StringType(), nullable=False),
StructField("rate", IntegerType(), nullable=True),
StructField("ID", StringType(), nullable=True)
])

In [ ]:
df_schema = spark.createDataFrame(data=brand,schema=schema)
df_schema.printSchema()
df_schema.show(truncate=False)

root
 |-- brand: string (nullable = false)
 |-- model: string (nullable = false)
 |-- rate: integer (nullable = true)
 |-- ID: string (nullable = true)

+-------+------+----+-----+
|brand  |model |rate|ID   |
+-------+------+----+-----+
|HP     |H46   |5   |00030|
|Apple  |Pro   |5   |00345|
|Dior   |Classy|4   |00344|
|Hisense|HS56  |2   |00056|
|Tesla  |S     |1   |00034|
+-------+------+----+-----+

## View Data

In [ ]:
df.show(2)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 2 rows

Alternatively, you can enable spark.sql.repl.eagerEval.enabled configuration for the eager evaluation of PySpark DataFrame in notebooks such as Jupyter. The number of rows to show can be controlled via spark.sql.repl.eagerEval.maxNumRows configuration.

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [ ]:
# show row verticall
df.show(2, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | string2
 d   | 2000-02-01
 e   | 2000-01-02 12:00:00
only showing top 2 rows

In [ ]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [ ]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [ ]:
# summary data
df.describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   NULL|
| stddev|1.0|1.0|   NULL|
|    min|  1|2.0|string1|
|    max|  3|4.0|string3|
+-------+---+---+-------+

In [ ]:
#take data
df.collect()

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [ ]:
df.take(1)

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0))]

In [ ]:
df.toPandas()

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2  3  4.0  string3  2000-03-01 2000-01-03 12:00:00

## Selecting and Accessing Data

saat mengambil nilai kolom, pyspark tidak memberikan output value dalam kolomnya tetapi hanya nama kolom saja

In [ ]:
df.c

Column<'c'>

In [ ]:
# In fact, most of column-wise operations return `Column`s.
from pyspark.sql import Column
from pyspark.sql.functions import upper

type(df.c) == type(upper(df.c)) == type(df.c.isNull())

True

These Columns can be used to select the columns from a DataFrame. For example, DataFrame.select() takes the Column instances that returns another DataFrame.

In [ ]:
df.select(df.b).show()

+---+
|  b|
+---+
|2.0|
|3.0|
|4.0|
+---+

In [ ]:
# bisa juga select dan filter sekaligus seperti di sql
df.select(df.b).filter(df.b>2.5).show()

+---+
|  b|
+---+
|3.0|
|4.0|
+---+

untuk menambahkan kolom baru `.withColumn('nama kolom', value)`

In [ ]:
df.withColumn('Upper_C',upper(df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|Upper_C|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|STRING2|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|STRING3|
+---+---+-------+----------+-------------------+-------+

In [ ]:
# menfilter baris dengan kondisi yang diinginkan
df.filter(df.a == 1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+