## Filter Operation

- Filter Operation
- &, |, ==
- ~

In [ ]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=1b6f2a05788d62dcc49f049d899a427c42e973385161653e768c7c18f885b01b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [ ]:
df = spark.read.csv('practice 4.csv', sep = ';', header = 'true',inferSchema = 'true')
df.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Dian| 12|         3| 40000|
|  Awan| 31|         4| 12000|
|  Ayen| 41|         1| 20200|
| Aksal| 73|         3|  2100|
|renita| 23|         2|   520|
+------+---+----------+------+

### Filter Operation

In [ ]:
# salary of the people less than or equal to 20000
df.filter('Salary<=2000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|renita| 23|         2|   520|
+------+---+----------+------+

In [ ]:
# salary of the people less than or equal to 20000
df.filter(df['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Awan| 31|         4| 12000|
| Aksal| 73|         3|  2100|
|renita| 23|         2|   520|
+------+---+----------+------+

In [ ]:
# filtering in specific columns
df.filter("Salary <=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Awan| 31|
| Aksal| 73|
|renita| 23|
+------+---+

In [ ]:
# put 2 different condition 'AND'
df.filter((df['Salary']<=20000) & (df['Age']>20)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Awan| 31|         4| 12000|
| Aksal| 73|         3|  2100|
|renita| 23|         2|   520|
+------+---+----------+------+

In [ ]:
# put 2 different condition 'OR'
df.filter((df['Salary']<=20000) | (df['Experience']< 2)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Awan| 31|         4| 12000|
|  Ayen| 41|         1| 20200|
| Aksal| 73|         3|  2100|
|renita| 23|         2|   520|
+------+---+----------+------+

In [ ]:
# inverse condition
# salary of the people not less than or equal to 20000
df.filter(~(df['Salary']<=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Dian| 12|         3| 40000|
|Ayen| 41|         1| 20200|
+----+---+----------+------+

In [ ]:
# salary of the people less than or equal to 20000
df.filter('Salary<=2000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Dian| 12|         3| 40000|
|  Awan| 31|         4| 12000|
|  Ayen| 41|         1| 20200|
| Aksal| 73|         3|  2100|
|renita| 23|         2|   520|
+------+---+----------+------+