## Pyspark Dataframes

- Pyspark Dataframe
- Reading The Dataset
- Checking the Datatypes of Column(Schema)
- Selecting Columns and Indexing
- Check Describe Option Similar to Pandas
- Adding Columns
- Dropping Columns

In [ ]:
from pyspark.sql import SparkSession
spark2 = SparkSession.builder.appName('DataFrame').getOrCreate()

In [ ]:
spark2

In [ ]:
## read the dataset
df = spark.read.option('header', 'true').csv('learn2.csv', sep = ';')
df

DataFrame[Name: string, Age: string, Experience: string]

In [ ]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Dian| 20|        10|
|Awan| 19|         2|
|Ayen| 10|         8|
|Amal| 22|         4|
+----+---+----------+

In [ ]:
## check the schema atau cek type data per kolom
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

defaultnya semua bakal string padahal Age dan Experience nilainya int

solusinya saat membaca file kita menambahkan inferSchema=True

In [ ]:
## read the dataset
df = spark.read.option('header', 'true').csv('learn2.csv', sep = ';', inferSchema=True)
df

DataFrame[Name: string, Age: int, Experience: int]

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
## cara lain membaca file
df = spark.read.csv('learn2.csv', header = True, sep =';', inferSchema=True)
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Dian| 20|        10|
|Awan| 19|         2|
|Ayen| 10|         8|
|Amal| 22|         4|
+----+---+----------+

In [ ]:
# cek type data per kolom
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Selecting Columns and Indexing
df.columns

['Name', 'Age', 'Experience']

In [ ]:
df.head(3)
# dia outputnya itu berupa list format kalo di pandas kita outputnya dataframe

[Row(Name='Dian', Age=20, Experience=10),
 Row(Name='Awan', Age=19, Experience=2),
 Row(Name='Ayen', Age=10, Experience=8)]

In [ ]:
df.show(2)
# ini outputnya berupa sql.dataframe

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Dian| 20|        10|
|Awan| 19|         2|
+----+---+----------+
only showing top 2 rows

untuk mengambil kolom tertentu bisa memakai `.select('nama kolom')`

In [ ]:
df.select('Name').show()

+----+
|Name|
+----+
|Dian|
|Awan|
|Ayen|
|Amal|
+----+

In [ ]:
type(df.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
# mengambil 2 kolom
df.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|Dian|        10|
|Awan|         2|
|Ayen|         8|
|Amal|         4|
+----+----------+

In [ ]:
df.dtypes # mengecek tipe data dari setiap kolom dalam DataFrame.

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

cek describe data menggunakan .describe

In [ ]:
df.describe().show()

+-------+----+-----------------+------------------+
|summary|Name|              Age|        Experience|
+-------+----+-----------------+------------------+
|  count|   4|                4|                 4|
|   mean|NULL|            17.75|               6.0|
| stddev|NULL|5.315072906367325|3.6514837167011076|
|    min|Amal|               10|                 2|
|    max|Dian|               22|                10|
+-------+----+-----------------+------------------+

adding and dropping colomns

In [ ]:
# menambahkan kolom
df_baru = df.withColumn('Experience after 2 years', df['Experience']+2)
df_baru.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
|Dian| 20|        10|                      12|
|Awan| 19|         2|                       4|
|Ayen| 10|         8|                      10|
|Amal| 22|         4|                       6|
+----+---+----------+------------------------+

In [ ]:
# bisa juga seperti ini
# menambahkan kolom
df.withColumn('Experience after 2 years', df.Experience + 2).show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
|Dian| 20|        10|                      12|
|Awan| 19|         2|                       4|
|Ayen| 10|         8|                      10|
|Amal| 22|         4|                       6|
+----+---+----------+------------------------+

In [ ]:
# menghapus kolom
df_baru.drop('Age').show()

+----+----------+------------------------+
|Name|Experience|Experience after 2 years|
+----+----------+------------------------+
|Dian|        10|                      12|
|Awan|         2|                       4|
|Ayen|         8|                      10|
|Amal|         4|                       6|
+----+----------+------------------------+

In [ ]:
# rename nama kolom
df_baru.withColumnRenamed('Experience', 'Pengalaman').show()

+----+---+----------+------------------------+
|Name|Age|Pengalaman|Experience after 2 years|
+----+---+----------+------------------------+
|Dian| 20|        10|                      12|
|Awan| 19|         2|                       4|
|Ayen| 10|         8|                      10|
|Amal| 22|         4|                       6|
+----+---+----------+------------------------+